/* .top_page{
    background-color: var(--body-color);
    max-width: 2000px;
} */


.hero_banner {
    border-bottom: rebeccapurple 10px solid;
}

.adver {
    font-style: normal;
    font-weight: 100;
    font-size: 58.8943px;
    line-height: 67px;
}

.buttons {
    margin: 30px 0px;
}

.explore {
    background-color: #003459;
}

.intro_view {
    color: #003459;
    border: #003459 1px solid;
}

.adver>strong {
    /* Thousands more fun! */
    font-style: normal;
    font-size: 45.1523px;
    line-height: 59px;
}

.pet_view_head {
    margin-top: 60px;
}

.smh {
    font-weight: 700;
    font-size: 23.5577px;
    line-height: 35px;
}

.pet_view {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 20px 0px;
    gap: 15px;
    z-index: 1;
}

.animal {
    background-color: white;
    max-width: fit-content;
    padding: 5px;
}

.animal img {
    width: 330px;
    max-height: 300px;
}

.banner {
    margin-top: 100px;
    /* padding-top: 371px; */
    height: 371px;
    border-radius: 20px;
    background-color: #003459;
    position: relative;
    overflow: hidden;
}

.banner_design {
    background-color: #FCEED5;
    width: 767px;
    height: 623px;
    border-radius: 97px;
    rotate: -60deg;
    position: absolute;
    margin-left: 900px;
    margin-top: -300px;
}

.twinNigga {
    position: absolute;
    left: 82px;
}

.product_view_head {
    margin-top: 60px;
}

.product_view {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 20px 0px;
    gap: 15px;
    z-index: 1;
}