header {
    display: flex;
    height: 3vh;
    margin-top: 40px
}


html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    max-width: 1200px;
}

#brand {
    height: 30px;
    margin-right: 20px;
}

#links {
    margin-top: 10px;
    margin-right: 10px;
    width: 21%;
    min-width: 410px;
}

#search_form {
    margin-top: 5px;
    margin-right: 20px;
}

#search {
    border-radius: 10px;
    height: 30px;
}

input::placeholder {
    padding: 10px;
}

.header_link {
    text-decoration: none;
    color: #003459;
    font-weight: 800;
    padding: 20px 20px 20px 20px;
}

.header_link:hover {
    color: #0078CD;
}

#buttons {
    margin-left: 20px;
    min-width: 400px;
}

#buttons * {
    margin-right: 10px;
}

#login {
    background-color: #0078CD;
}

#createPost {
    background-color: #003459;
}

select {
    border: none;
    background-color: transparent;
    font-weight: 800;
}