header {
    display: flex;
    height: 3vh;
    margin-top: 40px;
    margin-bottom: 80px;
    border-bottom: #003459 solid;
    padding-bottom: 10px;
    min-height: 40px;
}


html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    max-width: 1400px;
}

#brand {
    height: 30px;
    margin-right: 20px;
}

#links {
    margin-top: 5px;
    margin-right: 10px;
    width: 21%;
    min-width: 405px;
}


#search_form {
    margin-top: 5px;
    margin-right: 20px;
}

#search {
    border-radius: 20px;
    height: 30px;
    margin-left: 10px;
    width: 300px
}

input::placeholder {
    padding: 10px;
}

.header_link {
    text-decoration: none;
    color: #003459;
    font-weight: 800;
    padding: 20px 20px 20px 20px;
}

.header_link:hover {
    color: #0078CD;
}

#buttons {
    margin-left: 20px;
    min-width: 400px;
}

#buttons * {
    margin-right: 10px;
    height: 35px;
}

#login {
    background-color: #0078CD;
}

#createPost {
    background-color: #003459;
}

select {
    border: none;
    background-color: transparent;
    font-weight: 800;
}

/* Everything above this line is for the nav */

#cart_pic {
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-right: 10px;
}

.post_title {
    font-size: 48px;
}

#post_tags {
    color: #505050;
}