{% extends "layout_header.njk" %}

{% block content %}
    <main>
        <section id="mission">
          <h2>Our Mission</h2>
          <p>Our mission at Monito is to redefine the pet care experience by delivering top-quality products and services to our customers. 
            We are dedicated to enhancing the well-being of pets and their owners by offering innovative solutions tailored to their needs. 
            Through our commitment to excellence and compassion, we strive to make a positive impact on the lives of pets and the people who love them.</p>
        </section>
        <section id="team">
          <h2>Our Team</h2>
          <p>Our team is a dynamic tapestry of talent, forged from the bonds of friendship and a shared passion for technology.
             As students of KFUPM, each member brings a unique set of skills and experiences to the table. 
             Together, we form a formidable force, united in our dedication to realizing our collective vision.</p>
        </section>
        <img src="content/steps.png" alt="" id="steps">
    </main>
{% endblock %}