{% extends "layout_header.njk" %}

{# cartItems is the varible to be passed #}
{% block content %}
    <main>
        <div class="allpage">
            <div class="cart-container">
                <h2>Shopping Cart</h2>
                <p>You Have {{cartItems.length}} Items in Your Cart</p>
                    {% for item in cart %}
                    <div class ="product">
                        <img src="item.photoUrls[0]" alt=""> {# still missing the URL part DO IT!!!!#}
                        <div>
                            <p class="bolded_p"> {{item.title}} </p>
                            <p class="description">{{item.name}}</p>
                        </div>
                        <input class ="number_of_items" type ="number" min="1" max="1" value="1">
                        <p class="price"> {{item.price}} SAR</p>
                        <img class="delete" src="content/delete.png" alt="delete">
                    </div>
                    {% endfor %}

            </div>

            <div class="payment-container">
                <img id = "brandcart" src="content/brand.png" alt="brand">
                <input type="text" id="coupon" placeholder="enter your coupon code">
                <button id="pay">pay</button>
            </div>
        </div>
    </main>
{% endblock%}