{% extends "layout_header.njk" %}

{% block header %}
    <header>
        <img src="content/brand.png" alt="brand" id="brand">
        <div id="links">
            <a href="homepage.html" class="header_link">Home</a>
            <a href="personal_page.html" class="header_link">Profile</a>
            <a href="about.html" class="header_link">About</a>
            <a href="contact.html" class="header_link">Contact</a>
        </div>

        <a hidden href="cart.html"><img src="content/shopping-cart.png" alt="" id="cart_pic"></a>
        <form action="POST" id="search_form">
            <input hidden type="search" name="s" id="search" placeholder="Search something here!">
        </form>

        <img src="content/sa.png" alt="flag" class="currency" id="curimg" hidden>
        <select name="curr" id="currencyBox" hidden>
            <option value="SAR" selected>SAR</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="JPY">JPY</option>
        </select>

        <div id="buttons">
              <button id="createPost" hidden>Create Post</button>
              <button id="login">Login</button>
        </div>   
    </header>
{% endblock %}

{% block content %}

<div class="login-form-container">
    <div>
        <img src="content\brand.png" class="login-brand">
    </div>
    <div class="login-container">
        <label for="username-email">Username or Email</label>
        <input type="text" name="username-email" id="username-email">

        <div class="space-between-fields"></div>

        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <div><a href="" id ="forget-your-password">Forget your password?</a></div>
        <div><button id="login-button">Log In</button></div>
        <div><p id="new-user-text">New user?</p></div>
        <button id="toggle-form-button">Register</button>
    </div>
</div>

<div class="register-form-container" hidden>
    <div>
        <img src="content\brand.png" class="login-brand">
    </div>
    <div class="register-container">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">

        <div class="space-between-fields"></div>

        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <div class="space-between-fields"></div>

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <div class="space-between-fields"></div>

        <label for="verify-password">Verify Password</label>
        <input type="password" name="verify-password" id="verify-password">

        <button id="register-button">Register</button>
        <p id="new-user-text">Already have an account?</p>
        <button id="toggle-form-button">Log In</button>
    </div>
</div>



{% endblock %}