{% extends "layout_header.njk" %}

{% block content %}

<main>
    <div id="top_part">
        <div id = "Rec18">
            <img id = "pfp" src = "content/man(1).png" alt = "profile picture">
            <p id="name"><strong>@{{user.username}}</strong></p>
        </div>
        <div id = "Greetings"><p>Hello, {{user.name}} :)</p></div>
    </div>

    <div id = "bottom_part">
        <div id = "Rec19">
            <div class="button_div">
                <img src= "content/user.png" id="personal_icon" alt="personal_icon" class="icon">
                <button id="personal">Personal info</button>
            </div>
            
            <div class="button_div">
                <img src= "content/posts_icon.png" id="posts_icon" alt="posts_icon" class="icon">
                <button id="posts">My posts </button>
            </div>

            <div class="button_div">
                <img src= "content/wallet_icon.png" id="wallet_icon" alt="wallet_icon" class="icon">
                 <button id="wallet">Wallet</button>
            </div>
            
            <div class="button_div">
                <img src= "content/orders_icon.png" id="orders_icon" alt="orders_icon" class="icon">
                <button id="orders">Orders</button>
            </div>
            <img id = "hand" src = "content/hand.png" alt = "dog hand backgroud">
        </div>

        <form action = "" id="usr_info">
            <label for = "fName" id = "fullName_l">Full Name</label>
            <div id="name_div">
            <input type="text" id="fName" name="fName" value=`${user.name.split()[0]}`>
            <input type="text" id="lName" name="lName" value=`&{user.name.split()[1]}`></div>
            <label for = "email" id ="email_l">Email</label>
            <div id="email_div">  
                <input type="text" id="email" name="email" value=`&{user.email}`>
            </div>

            <label for ="password" id ="password_l">Password</label>
            <div>
                <input type="password" id="password" name="password" value=`&{user.password}`>
            </div>
            <a id ="forget"href="">Forgot your password?</a>

            <label for ="country" id = "location_l">Location</label>
            <div>
                <select id="country" name="country">
                    <option value="Saudi Arabia">Saudi Arabia</option>
                </select>

            <select id="city" name="city">
                <option style="display:none;" selected>City</option>
                <option value="Ryiadh">Ryiadh</option>
                <option value="Jeddah">Jeddah</option>
                <option value="AlAhsa">AlAhsa</option>
                <option value="Qasim">Qasim</option>
            </select>
            
            <input type="submit" value="Save" id = "save">
        </form>
    </div>
</main>
{% endblock %}