{% extends "layout_header.njk" %}

{% block content %}

{# will loop here over the provided post either a pet or a porduct
comments also will be in post collection #}
    <p id="post_tags"><a href="">Monito</a>><a href="">Animals</a>><a href="">Birds</a>><a href="">Cockatiels</a>><a href="">12454</a></p>
    <p class="post_title"> {{post.title}} </p>
    <div id="post">
        <section id="post_grid">
        <div id="post_imgs">
            <img src="content/bird.jpg" alt="" id="1">
            <img src="content/cockatiel_pic.jpeg" alt="" id="2">
            <img src="content/cockatiel.webp" alt="" id="3">
            <img src="content/Omars_birds_Lutino_Cockatiel-1.jpg" alt="" id="4">
        </div>
        <img src="content/bird.jpg" alt="" id="post_pic">
        </section>

        <div id="post_info">

            <div id="post_desc">
                <table>
                    <caption><strong>Animal Info</strong></caption>
                    <tr>
                        <td>
                            <strong>Name:</strong>{{post.name}}
                        </td>
                        <td>
                            <strong>Age:</strong>{{post.age}}
                        </td>
                        <td>
                            <strong>Gender:</strong>{{post.gender}}
                        </td>
                        <td>
                            <strong>Height</strong>{{post.height}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Species:</strong>{{post.species}}
                        </td>
                        <td>
                            <strong>Type:</strong>{{post.type}}
                        </td>
                        <td>
                            <strong>Mutation:</strong>{{post.mutation}}
                        </td>
                        <td>
                            <strong>Weight</strong>{{post.weight}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Tame:</strong>{{post.tame}}
                        </td>
                        <td>
                            <strong>Clipped:</strong>{{post.clipped}}
                        </td>
                        <td colspan="2">
                            <strong>Breeding Location:</strong>{{post.breedingLocation}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <strong>{{post.code.substring(0,2)}}#:</strong>{{post.code.substring(2,post.code.length)}}
                        </td>
                        <td style="font-size: 30px;" colspan="2">
                            <strong>Price: {{post.price}} SAR</strong>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="post_card">
                <p><strong>Animal Description:</strong></p>
                <p id="desc">{{post.description}}</p>
                {% for rate in user.rating%}
                <p><strong>Seller Rating: </strong></p> {# need to figure a way to include ratings of a user #}
                {% endfor %}
                <p><strong>Seller Location: {{user.userLocation}}</strong></p>
                <a href="">@{{user.username}}</a>
                
            </div>
        </div>

        

        <div id="post_buttons">       
            <button id="cart_button">Add to Cart</button>
            <button id="wish_button">Add to WishList</button>
            <form action="GET">
                 <label for="quantity" style="font-weight: 800; margin-right: 8px;">Quantity</label>
                 <input type="number" id="quantity" name="quantity" min="0" max=`${post.quantity}` value="quantity"> 
                 {# here we also need to include the current quantity in the max attribute for the input above #}
            </form>
        </div>
    </div>

    <div id="comments">
        <p style="font-size: 32px;"><strong>Comments ({{post.comments}})</strong></p>
        {% for comment in post.comments%}
        <div class="comment">
            <p class="bolded"><a href="">By: @{{comment.username}}</a></p>
            <p>{{comment.text}}</p>
            <p class="right_aligned bolded"> {{comment.addedAt}} </p> {# also here need to figure a way on how to make the date as "14 hours ago"
            using the date object #}
        </div>
        {% endfor %}
        <p>End of Comments</p>
        <p>1</p>
    </div>
{% endblock %}